@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
